section.section-about.py-lg#about
    .container
        .row
            .col.col-sm-6
                .about-img.border-white
                    img(src="img/photo-oso.jpg", alt="Oso Madroño")
            .col-sm-6
                .content-text-body
                    h2.title-secondary WE STRIVED ONLY FOR 
                        span THE BEST!
                    p.paragraph Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam adipiscing elit, sed diam                                      
                    p.paragraph-bold.paragraph Lorem ipsum dolor sit amet, consectetuer 
                    p.paragraph Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod                                     
                    a.btn.btn-secondary(href="#") Continue