section.destination.pb-lg#tour 
    .container 
        .row.content-card 
            .col-xs-6.col-md-3.car-dest  
                .destination-box 
                    h2.title-secondary 
                        | POPULAR
                        span DESTINATION
                    p.paragraph Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                    a.btn.btn-secondary(href="#") Explore
            .col-xs-6.col-md-3.car-dest
                .card.text-center
                    .card__boximg.border-white 
                        img(src="img/photo-churros.jpg", alt="Churros")
                    .card__text
                        h3 San Miguel
                        p.card__paragraph Average Price €50
            .col-xs-6.col-md-3.car-dest
                .card.text-center
                    .card__boximg.border-white 
                        img(src="img/photo-plaza-mayor.jpg", alt="Plaza Mayor")
                    .card__text
                        h3 Plaza Mayor
                        p.card__paragraph Average Price €50
                    
            .col-xs-6.col-md-3.car-dest
                .card.text-center
                    .card__boximg.border-white 
                        img(src="img/photo-retiro.jpg", alt="El Retiro")
                    .card__text
                        h3 El Retiro
                        p.card__paragraph Average Price €50