footer.footer.pt-lg
    .container 
        .row 
            .col-md-4 
                h4.footer__title Traveling
                p.paragraph Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod 
                
            .col-md-4 
                ul.footer__list
                    li 
                        h4.footer__title Traveling
                    li 
                        a(href="#") About Us
                    li
                        a(href="#") Contriubutors and Writers
                    li 
                        a(href="#") Privacy Policy 
            .col-md-4 
                ul.footer__list
                    li 
                        h4.footer__title Social media
                    li 
                        a(href="#") Youtube
                    li
                        a(href="#") Instagram
                    li 
                        a(href="#") Facebook
        .row
            .col-sm-12
                p.paragraph &copy; Wilson Muñoz Castro 