header.header
    .header__logo mad
    .header__text-box
        h1.heading-primary 
            span.heading-primary--main Watching a sunset 
            span.heading-primary--sub makes you feel stronger
        a.btn.btn-primary.btn--white(href="#")
            h4  Discover our tours   
    span.arrow.arrow-d 
        img(src="img/arrow.svg", alt="Arrow")