section.ico-travel.pb-lg#benefit 
    .container 
        .row
            .col-xs-6.col-md-3.icon 
                .icon-basic.text-center
                    i.icon-basic-photo
                    h4 photography
            .col-xs-6.col-md-3.icon 
                .icon-basic.text-center
                    i.icon-basic-heart
                    h4 favorite places
            .col-xs-6.col-md-3.icon 
                .icon-basic.text-center
                    i.icon-basic-geolocalize-05
                    h4 trip planning
            .col-xs-6.col-md-3.icon 
                .icon-basic.text-center
                    i.icon-basic-rss
                    h4 connected