.navigation
    .navigation__buttom
        
        span.navigation__icon
        span.navigation__icon
        span.navigation__icon

    .navigation__background 
    nav.navigation__nav
        ul.navigation__list
            li
                a(href="#about").navigation__link About Travel
            li
                a(href="#benefit").navigation__link Your Benefits
            li
                a(href="#tour").navigation__link Popular Tours
            li
                a(href="#review").navigation__link Reviews
            li
                a(href="#book").navigation__link Book now
