.popup#popup
    .row
        .col-xs-10.col-sm-8.no-gutter.popup__card-box.border-white
            .popup__img 
                img#img-popup(src="img/photo-churros.jpg", alt="Churros")
                span.popup__close#close ✕ 
            .popup__info
                .row 
                    .col-xs-12.col-sm-6
                        .popup__img-info.border-white 
                            img(src="img/photo-madrid-calle.jpg", alt="Madrid")
                            
                    .col-xs-12.col-sm-6
                        .popup__text-info
                            h4.title-secondary#popup-title START BOOKING NOW
                            p.paragraph Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod 
                            p.paragraph Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam 
                            a(href="#").btn.btn-secondary Book Now 
                