section.section-review#review  
    .bg-video
        video.bg-video__content(autoplay muted loop)
            source(src="img/cielo.mp4" type="video/mp4")
        
    .container 
        h2.title-secondary--video Travel Reviews
        .card-box
            .row
                .col-md-6
                    .card-box__review.border-white 
                            .card-box__content 
                                .card-box__avatar 
                                    img(src="img/avatar-1.jpg", alt="")
                                .card-box__text 
                                    h3 Italy
                                    span.card-box__start &#9733;&#9733;&#9733;&#9733;&#9733;
                                    p.paragraph Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod 
                                    h4.card-box__name Atika Jola
                                    span.card-box__position CEO, Travel Page
                .col-md-6  
                    .card-box__review.border-white 
                            .card-box__content 
                                .card-box__avatar 
                                    img(src="img/avatar-2.jpg", alt="")
                                .card-box__text 
                                    h3 France
                                    span.card-box__start &#9733;&#9733;&#9733;&#9733;&#9733;
                                    p.paragraph Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod 
                                    h4.card-box__name Jerry Harper
                                    span.card-box__position Manager, Travel Page
        .link
            a.link__btn(href="#") Read all histories &rarr;
