extends template/template

block nav  
    include layout/nav
block header 
    include layout/header  
block about
    include layout/about
block ico-travel
    include layout/ico-travel
block destination
    include layout/destination
block review
    include layout/review
block form
    include layout/form
block footer
    include layout/footer
block popup
    include layout/popup
