.btn {

    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        position: relative;
        font-size: $default-font-size;
        cursor: pointer;
        transition: .2s all;
        overflow: hidden;
    }

    & h4 {
        color: $black-blue-color;
        position: relative;
        font-weight: 400;
    }

    &--white {
        background-color: $white-color;
        color: $black-blue-color;
        box-shadow: $box-shadow;
    }

    &:hover {
        transform: translateY(-0.3rem);
        box-shadow: $box-shadow-active;
    }

    &:active,
    &:focus {
        outline: none;
        box-shadow: $box-shadow-active;
        transform: translateY(-0.1rem);
    }

    &:hover h4 {
        color: #fff;
        z-index: 10;
        font-weight: 600;

    }

}

.btn-primary {
    border-radius: 10rem;
    animation: moveUpButtom 1s ease;
    animation-delay: .5s;
    animation-fill-mode: backwards;

    &::before,
    &::after {
        position: absolute;
        display: block;
        content: "";
        width: 100%;
        height: 100%;
    }

    &:after {
        width: 390%;
        height: 400%;
        left: -300%;
        transform: rotate(45deg);
        background-image: linear-gradient(to right, rgba($primary-color, 1), rgba($primary-color, .8));
        transition: all 300ms ease;
    }

    &:hover::after {
        left: -100%;
    }

}

.btn-secondary {
    border-radius: 6px;
    background-color: $primary-color;
    color: $white-color;
    font-weight: 900;
}