.link {
    z-index: 12;
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
    padding: 4rem 1.5rem;
    height: 2rem;

    &__btn {
        float: right;
        display: inline-block;
        font-size: $default-font-size;
        font-weight: 400;
        text-transform: uppercase;
        color: $body-color;
        text-decoration: none;
        padding: 3px;
        border-bottom: 1px solid $body-color;
        transition: .3s all;

        &:hover {
            padding: 6px;
            background-color: $body-color;
            color: $primary-color;
            transform: translateY(-2px);
            box-shadow: $box-shadow;
            border-radius: 6px;
            font-weight: 600;
        }
    }
}